input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
